body {
  font-family: "Sen";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--silver-dark);
  background-color: var(--black-color);
}

.container {
  width: 360px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: var(--white-color);
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--white-color);
}

.button {
  font-size: 18px;
  font-weight: 700;
  color: var(--white-color);
  border: 1px solid var(--button-color);
  cursor: pointer;
}

.input {
  min-width: 320px;
  height: 50px;
  border: 1px solid;
  color: var(--white-color);
  background-color: #181823;
  border: 1px solid #181823;
}

@media screen and (min-width: 768px) {
  .container {
    width: 688px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --silver-dark: #8491A0;
  --silver-light: #5B6876;
  --button-color: #5221E6;
  --light-color: #FFF3E4;
  --dark-color: #181823;
}

.header__container {
  padding-top: 14px;
  padding-bottom: 24px;
}

.header__body {
  padding-top: 10px;
  display: flex;
}

.header__logo-icon {
  width: 79px;
  height: 24px;
}

.header__button-burger {
  margin-left: auto;
}

.header__button-icon {
  width: 24px;
  height: 24px;
}

.hero__container {
  padding-top: 24px;
}

.hero__wrapp {
  margin-bottom: 48px;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__title {
  margin-bottom: 16px;
}

.grey {
  color: rgba(255, 255, 255, 0.5);
}

.hero__subtitle {
  font-size: 18px;
  color: var(--white-color);
}

.companies__pretitle {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.companies__title {
  margin-bottom: 40px;
}

.companies__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.number {
  font-size: 117px;
}

.companies__subtitle {
  margin-bottom: 16px;
}

.green {
  color: #3CC74E;
}

.blue {
  color: #609BFF;
}

.pink {
  color: #E95D90;
}

.philosophy {
  background-color: var(--light-color);
}

.philosophy__container {
  padding-bottom: 0px;
}

.philosophy__title {
  margin-bottom: 24px;
  color: var(--black-color);
}

.philosophy__text {
  margin-bottom: 91px;
  font-size: 18px;
  color: var(--silver-light);
}

.philosophy__button {
  font-size: 18px;
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
}
.philosophy__button:hover {
  color: var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.philosophy__wrapp {
  margin-top: 51px;
}

.philosophy__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skillset__container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.skillset__title {
  margin-bottom: 16px;
}

.skillset__text {
  margin-bottom: 69px;
  font-size: 18px;
}

.skillset__list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.skillset__icon {
  margin-bottom: 24px;
  width: 32px;
  height: 32px;
}

.skillset__item-title {
  margin-bottom: 12px;
}

.icons__container {
  padding: 0px;
}

.icons__list {
  display: flex;
  flex-wrap: wrap;
}

.icons__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 140px;
  border: 1px solid;
}

.icons__item-icon {
  flex: 0 1 50%;
  width: 154px;
  height: 30px;
}

.work__container {
  padding-bottom: 64px;
  padding-bottom: 70px;
}

.work__pretitle {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.work__title {
  margin-bottom: 80px;
}

.work__list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.work__wrapp {
  padding: 40px 32px;
  background-color: var(--dark-color);
}

.work__subtitle {
  margin-bottom: 13px;
}

.work__text {
  font-size: 18px;
}

.instagram {
  background-color: #FBE4FF;
}

.instagram__container {
  padding-bottom: 0px;
}

.instagram__title {
  margin-bottom: 16px;
  color: var(--black-color);
}

.instagram__text {
  margin-bottom: 125px;
  font-size: 18px;
  color: var(--silver-light);
}

.instagram__button {
  font-size: 18px;
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
}
.instagram__button:hover {
  color: var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.instagram__wrapp {
  margin-top: 51px;
}

.instagram__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dribble__container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.dribble__title {
  margin-bottom: 24px;
  font-size: 55px;
  font-weight: 700;
  color: var(--white-color);
}

.dribble__text {
  margin-bottom: 40px;
  font-size: 18px;
}

.dribble__button {
  font-size: 16px;
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}
.dribble__button:hover {
  color: var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.dribble__img {
  margin-top: 64px;
  width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.people__title {
  margin-bottom: 16px;
}

.people__text {
  margin-bottom: 40px;
  font-size: 18px;
}

.people__link {
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}
.people__link:hover {
  color: var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.people__list {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.people__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.people__wrapp {
  padding: 32px;
  border: 1px solid var(--silver-light);
}

.people__subtitle {
  margin-bottom: 64px;
  color: var(--white-color);
}

.people__author {
  font-size: 18px;
  font-weight: 700;
}

.people__profecion {
  font-size: 18px;
}

.photography__title {
  margin-bottom: 24px;
}

.photography__text {
  margin-bottom: 40px;
}

.photography__list-button {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}

.photography__button {
  padding: 12px 16px;
  width: 148px;
  text-transform: uppercase;
  background-color: inherit;
}
.photography__button:hover {
  background-color: var(--button-color);
}

.photography__list-photo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photography__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form__title {
  margin-bottom: 16px;
}

.form__text {
  margin-bottom: 48px;
  font-size: 18px;
}

.form-get {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form__label-name {
  margin-bottom: 5px;
}

.form__label-email {
  margin-bottom: 5px;
}

.form__label-area {
  margin-bottom: 5px;
}

.form__textarea {
  height: 100px;
  resize: none;
}

.form__button {
  padding: 24px 32px;
  text-transform: uppercase;
  background-color: var(--button-color);
}
.form__button:hover {
  background-color: var(--black-color);
}

.footer {
  background-color: var(--dark-color);
}

.footer__logo-icon {
  width: 131px;
  height: 40px;
}

.footer__list-social {
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
  gap: 16px;
}

.foote__icon-social {
  width: 24px;
  height: 24px;
}

.footer__nav {
  margin-bottom: 48px;
}

.footer__list-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__link {
  color: var(--white-color);
}
.footer__link:hover {
  border-bottom: 1px solid;
}

.backdrop {
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window-container {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

.modal__window-body {
  text-align: center;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */