body {
  font-family: "Sen";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #8491A0;
  background-color: #000;
}

.container {
  width: 360px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: var(--white-color);
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--white-color);
}

.button {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #5221E6;
}

@media screen and (min-width: 768px) {
  .container {
    width: 690px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --silver-dark: #8491A0;
  --silver-light: #5B6876;
  --button-color: #5221E6;
  --light-color: #FFF3E4;
}

.header__container {
  padding-top: 14px;
  padding-bottom: 24px;
}

.header__body {
  padding-top: 10px;
  display: flex;
}

.header__logo-icon {
  width: 79px;
  height: 24px;
}

.header__button-burger {
  margin-left: auto;
}

.header__button-icon {
  width: 24px;
  height: 24px;
}

.hero__container {
  padding-top: 24px;
}

.hero__wrapp {
  margin-bottom: 48px;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__title {
  margin-bottom: 16px;
}

.grey {
  color: rgba(255, 255, 255, 0.5);
}

.hero__subtitle {
  font-size: 18px;
  color: var(--white-color);
}

.companies__pretitle {
  margin-bottom: 8px;
}

.companies__title {
  margin-bottom: 40px;
}

.companies__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.number {
  font-size: 117px;
}

.companies__subtitle {
  margin-bottom: 16px;
}

.green {
  color: #3CC74E;
}

.blue {
  color: #609BFF;
}

.pink {
  color: #E95D90;
}

.philosophy {
  background-color: var(--light-color);
}

.philosophy__container {
  padding-bottom: 0px;
}

.philosophy__title {
  margin-bottom: 24px;
  color: var(--black-color);
}

.philosophy__text {
  margin-bottom: 91px;
  color: var(--silver-light);
}

.philosophy__button {
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
}

.philosophy__wrapp {
  margin-top: 51px;
}

.philosophy__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skillset__container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.skillset__title {
  margin-bottom: 5px;
}

.skillset__text {
  margin-bottom: 69px;
}

.skillset__list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.skillset__icon {
  margin-bottom: 24px;
  width: 32px;
  height: 32px;
}

.skillset__item-title {
  margin-bottom: 12px;
}

.icons__container {
  padding: 0px;
}

.icons__list {
  display: flex;
  flex-wrap: wrap;
}

.icons__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 140px;
  border: 1px solid;
}

.icons__item-icon {
  flex: 0 1 50%;
  width: 154px;
  height: 30px;
}

.philosophy {
  background-color: var(--light-color);
}

.philosophy__container {
  padding-bottom: 0px;
}

.philosophy__title {
  margin-bottom: 24px;
  color: var(--black-color);
}

.philosophy__text {
  margin-bottom: 91px;
  color: var(--silver-light);
}

.philosophy__button {
  color: var(--black-color);
  border-bottom: 1px solid var(--black-color);
}

.philosophy__wrapp {
  margin-top: 51px;
}

.philosophy__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backdrop {
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window-container {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

.modal__window-body {
  text-align: center;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */