.companies__pretitle {
    margin-bottom: 8px;
    text-transform: uppercase;
}
.companies__title {
    margin-bottom: 40px;
}
.companies__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.number {
    font-size: 117px;
}
.companies__subtitle {
    margin-bottom: 16px;
}
.green {
    color: #3CC74E;
}
.blue {
  color: #609BFF;  
}
.pink {
    color: #E95D90;
}
@media screen and (min-width: 768px){
    .companies__list {
        flex-direction: row;
        column-gap: 40px;
    }
    .companies__item {
        flex: 1 1 33.3333%;
    }
}
@media screen and (min-width: 1440px){
    .companies__title {
       width: 690px;
    }
    .companies__list {
        column-gap: 100px;
    }
}