.companies__body {
}
.companies__pretitle {
    margin-bottom: 8px;
}
.companies__title {
    margin-bottom: 40px;
}
.companies__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.companies__item {
}
.number {
    font-size: 117px;
}
.companies__subtitle {
    margin-bottom: 16px;
}
.green {
    color: #3CC74E;
}
.companies__text {
}
.blue {
  color: #609BFF;  
}
.pink {
    color: #E95D90;
}