.footer {
    background-color: var(--dark-color);
}
.footer__container {
    background-color: var(--dark-color);
}
.footer__body {
    margin-bottom: 48px;
}
.footer__logo-icon {
    width: 131px;
    height: 40px;
}
.footer__list-social {
    margin-top: 32px;
    margin-bottom: 48px;
    display: flex;
    gap: 16px;
}
.foote__icon-social {
    width: 24px;
    height: 24px;
}
.footer__nav {
    margin-bottom: 16px;
    &:nth-last-child(1) {
        margin-bottom: 0px;
    }
}
.footer__list-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__link {
    color: var(--white-color);
    transition: border-bottom 300ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        border-bottom: 1px solid;
    }
}
@media screen and (min-width: 768px){
    .footer__container {
        padding-bottom: 56px;
    }
    .footer__body {
        display: flex;
        justify-content: space-between;
    }
    .footer__list-social {
        margin-bottom: 0px;
    }
    .footer__nav-wrapp {
        display: flex;
        justify-content: space-between;
        column-gap: 150px;
    }
    .footer__nav {
        margin-bottom: 0px;
    }
    .footer__nocopy {
        width: 329px;
    }
}
@media screen and (min-width: 1440px){
    .footer__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .footer__body {
        display: flex;
        justify-content: flex-start;
    }
    .footer__social-wrapp {
        margin-right: 560px;
    }
    .footer__nocopy {
        width: 426px;
    }
}