.header__container {
    padding-top: 24px;
    padding-bottom: 24px;
}
.header__body {
    display: flex;
    justify-content: space-between;
}
.header__logo {
}
.header__logo-icon {
    width: 79px;
    height: 24px;
}
.header__nav {
    display: none;
}
.header__list {
    display: flex;
}
.header__item {
    padding: 32px 24px;
    &:hover {
        background-color: var(--button-color);
    }
}
.header__link {
    color: var(--white-color);
}
.header__button-burger {
    margin-left: auto;
}
.header__button-icon {
    width: 24px;
    height: 24px;
}
.burger__menu {
}
.burger__container {
}
.burger__body {
}
@media screen and (min-width: 768px){
    .header__container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .header__body {
        padding-top: 0px;
        align-items: center;
    }
    .header__logo {
        margin-right: 120px;
    }
    .header__nav {
        display: block;
    }
    .header__button-burger {
        display: none;
    }
}
