.header__container {
    padding-top: 14px;
    padding-bottom: 24px;
}
.header__body {
    padding-top: 10px;
    display: flex;
}
.header__logo {
}
.header__logo-icon {
    width: 79px;
    height: 24px;
}
.header__nal {
}
.header__list {
}
.header__item {
}
.header__link {
}
.header__button-burger {
    margin-left: auto;
}
.header__button-icon {
    width: 24px;
    height: 24px;
}
.burger__menu {
}
.burger__container {
}
.burger__body {
}