.hero__container {
    padding-top: 24px;
}
.hero__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hero__title {
    margin-bottom: 16px;
}
.grey {
    color: rgba(255, 255, 255, 0.50);
}
.hero__subtitle {
    font-size: 18px;
    color: var(--white-color);
}
@media screen and (min-width: 768px){
    .hero__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .hero__body {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    .hero__wrapp {
        margin-bottom: 0px;
        min-height: 650px;
    }
    .hero__img {
        object-fit: cover;
    }
}
@media screen and (min-width: 1440px){
    .hero__title {
       font-size: 78px;
    }
}