.hero__container {
    padding-top: 24px;
}
.hero__body {
}
.hero__wrapp {
    margin-bottom: 48px;
}
.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero__title {
    margin-bottom: 16px;
}
.grey {
    color: rgba(255, 255, 255, 0.50);
}
.hero__subtitle {
    font-size: 18px;
    color: var(--white-color);
}