.hero__container {
    padding-top: 24px;
}
.hero__img {
    width: 100%;
    object-fit: cover;
}
.hero__title {
    margin-bottom: 16px;
}
.grey {
    color: rgba(255, 255, 255, 0.50);
}
.hero__subtitle {
    font-size: 18px;
    color: var(--white-color);
}
@media screen and (min-width: 768px){
    .hero__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .hero__body {
        display: flex;
    }
    .hero__wrapp {
        margin-bottom: 0px;
        margin-left: -200px;
        height: 100%;
        object-fit: cover;
    }
    .hero__wrapp-text {
        width: 408px;
        margin-left: -300px;
    }
    .hero__img {
        width: auto;
    }
}
@media screen and (min-width: 1440px){
    .hero__body {
        align-items: center;
    }
    .hero__wrapp-text {
        width: 738px;
    } 
    .hero__title {
       font-size: 78px;
    }
    .hero__wrapp-text {
        margin-left: -100px;
    }
}