.icons__container {
    padding: 0px 15px;
}
.icons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icons__item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 329px;
    height: 140px;
    border: 1px solid;
}
.icons__item-icon {
    height: 30px;
}
@media screen and (min-width: 768px){
    .icons__item {
        height: 140px;
    }
}
@media screen and (min-width: 1440px){
    .icons__list {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .icons__item {
        min-width: 210px;
        height: 140px;
    }
}