.instagram {
    background-color: #FBE4FF;
}
.instagram__container {
    padding-top: 48px;
    padding-bottom: 0px;
    background-color: #FBE4FF;
}
.instagram__title {
    margin-bottom: 16px;
    color: var(--black-color);

    opacity: 0;
    transition: all 2.5s ease 0s;
}
.instagram__text {
    margin-bottom: 125px;
    font-size: 18px;
    color: var(--silver-light);

    opacity: 0;
    transition: all 2.5s ease 0.5s;
}
.instagram__button {
    font-size: 18px;
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
    &:hover {
        color: var(--button-color);
        border-bottom: 1px solid var(--button-color);
    }
}
.instagram__wrapp {
    margin-bottom: 51px;

    opacity: 0;
    transition: all 2.5s ease 0.5s;
}
.instagram__img {
    width: 330px;
    height: 450px;
    object-fit: cover;
    display: block;
}
@media screen and (min-width: 768px){
    .instagram__container {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .instagram__body {
        display: flex;
    }
    .instagram__thumb {
        padding-top: 80px;
        padding-bottom: 80px;
        margin-right: 40px;
        width: 50%;
    }
    .instagram__wrapp-img {
        height: auto;
    }
    .instagram__img {
        width: 384px;
        height: 600px;
    }
    .instagram__text {
        margin-bottom: 100px;
    }
    .instagram__wrapp {
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1440px){
    .instagram__thumb {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .instagram__thumb {
        margin-right: 72px;
    }
    .instagram__img {
        width: 720px;
        height: 600px;
    }
}
.active {
    opacity: 1;
}