.people__body {
}
.people__title {
    margin-bottom: 16px;
}
.people__text {
    margin-bottom: 40px;
    font-size: 18px;
}
.people__link {
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
    &:hover {
        color: var(--button-color);
        border-bottom: 1px solid var(--button-color);
    }
}
.people__list {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
.people__item {
}
.people__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.people__wrapp {
    padding: 32px;
    border: 1px solid var(--silver-light);
}
.people__subtitle {
    margin-bottom: 64px;
    color: var(--white-color);
}
.people__author {
    font-size: 18px;
    font-weight: 700;
}
.people__profecion {
    font-size: 18px;
}
@media screen and (min-width: 768px){
    .people__body {
        display: flex;
    }
    .people__thumb {
        margin-right: 24px;
    }
    .people__list{
        margin-top: 0px;
        row-gap: 64px;
    }
    .people__item {
        width: 333px;
    }
}