.philosophy {
    background-color: var(--light-color);
}
.philosophy__container {
    padding-bottom: 0px;
    background-color: var(--light-color);
}
.philosophy__title {
    margin-bottom: 24px;
    color: var(--black-color);
}
.philosophy__text {
    margin-bottom: 91px;
    font-size: 18px;
    color: var(--silver-light);
}
.philosophy__wrap {
    margin-bottom: 51px;
}
.philosophy__button {
    font-size: 18px;
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
    &:hover {
        color: var(--button-color);
        border-bottom: 1px solid var(--button-color);
    }
}
.philosophy__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
@media screen and (min-width: 768px){
    .philosophy__container {
        padding-bottom: 80px;
    }
    .philosophy__body{
        display: flex;
    }
    .philosophy__thumb {
        margin-right: 40px;
        width: 50%;
    }
    .philosophy__img {
        width: 50%;
        height: auto;
        object-fit: cover;
    }
    .philosophy__wrap {
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1440px){
    .philosophy__container {
        padding-bottom: 120px;
    }
    .philosophy__text {
        margin-bottom: 134px;
    }
}
