.philosophy {
    background-color: var(--light-color);
}
.philosophy__container {
    padding-bottom: 0px;
}
.philosophy__body {
}
.philosophy__title {
    margin-bottom: 24px;
    color: var(--black-color);
}
.philosophy__text {
    margin-bottom: 91px;
    font-size: 18px;
    color: var(--silver-light);
}
.philosophy__button {
    font-size: 18px;
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
    &:hover {
        color: var(--button-color);
        border-bottom: 1px solid var(--button-color);
    }
}
.philosophy__wrapp {
    margin-top: 51px;
}
.philosophy__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}