.photography__title {
    margin-bottom: 24px;
}
.photography__text {
    margin-bottom: 40px;
}
.photography__list-button {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
}
.photography__button {
    padding: 12px 16px;
    width: 148px;
    background-color: inherit;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: var(--button-color);
    }
}
.photography__list-photo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.photography__item-photo {
    overflow: hidden;
}
.photography__img {
    max-width: 360px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    -webkit-filter: grayscale(70%); 
    filter: grayscale(70%); 
    transition: filter 500ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(1.1);
        -webkit-filter: grayscale(0%); 
        filter: grayscale(0%);  
    }
}
@media screen and (min-width: 768px){
    .photography__text {
        margin-bottom: 76px;
    }
    .photography__button {
        padding: 12px 16px;
        width: 100%;
    }
    .photography__list-photo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    .photography__img {
        max-width: 332px;
    }
}
@media screen and (min-width: 1440px){
    .photography__img {
        max-width: 296px;
    }
}