.skillset__container {
    padding-top: 64px;
    padding-bottom: 64px;
}
.skillset__body {
}
.skillset__title {
    margin-bottom: 16px;
}
.skillset__text {
    margin-bottom: 69px;
    font-size: 18px;
}
.skillset__list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
.skillset__item {
}
.skillset__icon {
    margin-bottom: 24px;
    width: 32px;
    height: 32px;
}
.skillset__item-title {
    margin-bottom: 12px;
}
.skillset__item-text {
}