.skillset__container {
    padding-top: 64px;
    padding-bottom: 64px;
}
.skillset__title {
    margin-bottom: 16px;
}
.skillset__text {
    margin-bottom: 69px;
    font-size: 18px;
}
.skillset__list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
.skillset__icon {
    margin-bottom: 24px;
    width: 32px;
    height: 32px;
}
.skillset__item-title {
    margin-bottom: 12px;
}
@media screen and (min-width: 768px){
    .skillset__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .skillset__text {
        margin-bottom: 48px;
    }
    .skillset__list {
        flex-direction: row;
        column-gap: 24px;
        flex-wrap: wrap;
    }
    .skillset__item {
        max-width: 284px;
    }
}
@media screen and (min-width: 1440px){
    .skillset__container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .skillset__body {
        display: flex;
    }
    .skillset__text-wrapp {
        width: 368px;
        margin-right: 72px;
    }
    .skillset__list {
        width: 65%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 72px;
        row-gap: 48px; 
    }
    .skillset__item {
        max-width: 368px;
    }
}