.work__container {
    padding-top: 64px;
    padding-bottom: 70px;
}
.work__pretitle {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.work__title {
    margin-bottom: 80px;
}
.work__list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
.work__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.work__wrapp {
    padding: 40px 32px;
    background-color: var(--dark-color);
}
.work__subtitle {
    margin-bottom: 13px;
}
.work__text {
    font-size: 18px;
}
.work__button {
    display: none;
    margin-top: 90px;
    background-color: inherit;
    padding: 24px 32px;
    &:hover {
        background-color: var(--button-color);
    }
}
@media screen and (min-width: 768px){
    .work__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media screen and (min-width: 1440px){
    .work__container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .work__body {
        display: flex;
        column-gap: 24px;
    }
    .work__button {
        display: block;
    }
}